<!doctype html>
<html lang="en">
  
<head>
  <meta charset="utf-8">
  <title>Todo App</title>
</head>

<body>
  <h1>Todos</h1>
  <form action="/" method="POST">
    <input type="text" name="content">
    <input type="submit" value="Create">
  </form>
  <ul>
    <% todos.forEach((todo) => { %>
      <li><%= todo.content %> <a href=<%= todo.id %>>(edit)</a></li>
    <% }) %>
  </ul>
  <i>Description: this is a static HTML file served by our application. It just displays hardcoded text and links, similar to the <a href="http://info.cern.ch/hypertext/WWW/TheProject.html" target="_blank">first website ever published</a>. It really isn't a very useful todo "app."</i>
</body>
</html>