<!doctype html>
<html lang="en">
  
<head>
  <meta charset="utf-8">
  <title>Todo App</title>
</head>

<body>
  <h1>Todos</h1>
  <form action="/todos" method="POST" id="create-form">
    <input type="text" name="content" id="create-text-input">
    <input type="submit" value="Create" id="create-button">
  </form>
  <ul class="todos-ul">
  </ul>
  <p style="font-style: italic;">AJAX - Asynchronous JavaScript And XML. AJAX is the technique of using JavaScript to communicate with the server. For this website, the server sends a mostly blank HTML file. Then after the page has loaded, some JavaScript runs and reads data from the server and uses it to populate the todo list. To write data, we also use JavaScript instead of forms like we did previously. Both reading and writing data can be done without reloading the page, creating a nicer user experience.</p>
  <script src="static/js/index.js"></script>
</body>
</html>