<!doctype html>
<html lang="en">
  
<head>
  <meta charset="utf-8">
  <title>Todo App</title>
</head>

<body>
  <h1>Todos</h1>
  <form action="/" method="POST">
    <input type="text" name="content">
    <input type="submit" value="Create">
  </form>
  <ul>
    <% todos.forEach((todo) => { %>
      <li>
        <p><%= todo.content %> </p>
        <button class="edit-button">Edit</button>
        <form action=<%= `${todo.id}/delete` %> style="display: inline" method="POST">
          <input type="submit" value="Delete">
        </form>
      </li>
    <% }) %>
  </ul>
  <i>Template Engine - a template engine dynamically generated this HTML file using real data from a database. We can also write data via HTML forms. Now we have a functioning web app!</i>
  <script src="static/js/index.js"></script>
</body>
</html>