<!doctype html>
<html lang="en">
  
<head>
  <meta charset="utf-8">
  <title>Todo App</title>
</head>

<body>
  <h1>Edit Todo</h1>
  <form action=<%= `${todo.id}/update` %> style="display: inline" method="POST">
    <input type="text" name="content" value=<%= todo.content %>>
    <input type="submit" value="Update">
  </form>
  <form action=<%= `${todo.id}/delete` %> style="display: inline" method="POST">
    <input type="submit" value="Delete">
  </form>
</body>
</html>